*{
    margin: 0;
}

body{
    text-align: center;
}

#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    color: dimgray;
}

.esq{
    width: 25%;
    height: 80px;
    background-color: black;
}

.centro{
    width: 50%;
    height: 80px;
    background-color: black;
}

.dir{
    width: 25%;
    height: 80px;
    background-color: black;
}

#titulo{
    font-size: large;
    color: goldenrod;
}

#formulario{
    font-size: large;
    color: goldenrod;
}
.logo{
    width: 35%;
    height: 85px;
}
